*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif;
}

.pluralsight-login{
    height: 100vh;
    width: 100%;
    display: flex;
}

/* Login Section */

.login-section{
    height: 100vh;
    width: 40%;
    padding: 70px 110px;
    background-color: #0d0f12;
}
.login-section hr{
    flex: auto;
    border: none;
    height: 1px;
    background-color: hsla(0,0%,100%,.15);
}

/* logo */

.login-section .logo{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.login-section .logo img{
    height: 100%;
    width: 80%;
}

/* input-type */

.input-type{
    margin-top: 60px;
    height: 200px;
    width: 100%;
}

.input-type p{
    color: white;
    font-size: 15px;
}
.input-type input{
    background: none;
    height: 38px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(122, 119, 119);
}
.input-type p:nth-child(1){
    margin-bottom: 5px;
}
.input-type p:nth-child(3){
    margin-top: 25px;
    margin-bottom: 5px;
}

.input-type button{
    width: 100%;
    height: 38px;
    margin-top: 20px;
    background: #0074ab;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif;
}

/* signin-section */

.signin-section{
    height: 75px;
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signin-section a{
    font-size: 15px;
    color: #0084bd;
    text-decoration: none;
}
.signin-section p{
    color: white;
    margin-top: 25px;
    font-size: 15px;
    color: #0084bd;
}

/* btn */

.btn{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.btn button{
    width: 100%;
    height: 38px;
    border: none;
    color: white;
    background: rgba(138,153,168,.25);
    border-radius: 3px;
    font-size: 15px;
}

/* footer */

footer{
    width: 100%;
    height: 50px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer{
    color: hsla(0,0%,100%,.7);
    font-size: 11px;
}
.footer a{
    color: hsla(0,0%,100%,.7);
    margin-top: 5px;
}

/* Image Section */

.image-section{
    background-image: url(../image/image.jpg);
    background-size: cover;
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.image-section .span{
    color: white;
    display: flex;
}

.image-section .span p{
    font-size: 45px;
}
.image-section .span h1{
    font-size: 45px;
    margin-left: 10px;
}
.image-section .btn{
    width: 200px;
    background: none;
    border: none;
}